<!DOCTYPE html>
<html lang="en">
<head>
    <title>IotDeviceTester</title>
    <link rel="stylesheet" crossorigin href="/assets/index-CPlfks0z.css">
</head>
<body>
    <div class="w-screen h-72 absolute top-0 left-0 bg-gradient-to-b from-blue-400 to-blue-500 -z-10"></div>

    <div class="xl:max-w-5xl md:max-w-3xl max-w-xs  mx-auto text-center text-white">
        <h1 class="text-3xl mt-10">IOT Device Tester</h1>
        <div class="flex bg-white rounded-md h-12 text-black max-w-md mx-auto mt-11">
            <label for="path" class="text-lg my-auto px-3">Path:</label>
            <input class="w-full focus:bg-gray-200 rounded-md px-3" type="text" id="path" name="path" placeholder="/api/">
        </div>
    </div>

    <div id="messages" class="mt-4 transition-all duration-300 relative top-72">
    </div> 

    <script>
        let cant = 0;

        var messages = document.getElementById("messages")
        var requiredPath = document.getElementById("path")

        var socket = new WebSocket("ws://localhost:8000/ws")
        function deleteMessage(id) {
            document.getElementById(`Message${id}`).remove();
        }

        socket.onmessage = function (msg) {
            data=JSON.parse(msg.data)
            if (data.path.startsWith(requiredPath.value)) {
                let aux = cant;
                cant++;
                messages.innerHTML = 
                `<div id=\"Message${aux}\" class=\"text-center mt-4 ${data.mqtt ? "bg-green-50 border-green-500" : "border-yellow-300 bg-yellow-50"} border-2 text-black rounded-md py-4 px-3\">\
                    <p>Path: ${data.path}</p>\
                    <p>&lt;ID: ${data.body.DeviceID}&gt;</p>\
                    <pre>Data: ${JSON.stringify(data.body.Data, null, 2)}</pre>\
                </div>` + messages.innerHTML;
                setTimeout( function () {
                    deleteMessage(aux);
                }, 5000)
            }
        }
    </script>
</body>
</html>